body {
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: Arial;

}

main {
    margin: 0 auto;
    border: 1px solid white;
    width: 55%;
    padding: 30px;
    margin-top: 5%;
}

p {
    margin-left: 30px;
}

main h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

h2 {
    transition: .3s;
}

h2:hover {
    cursor: pointer;
    color: rgb(170, 169, 169);
    transform: translateX(20px);
}