body {
    background-color: rgb(24, 24, 24);
    color: black;
    font-family: Arial;

}

main {
    margin: 0 auto;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    margin-top: 5%;
    font-size: 20px;
}

img {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    
}